.contenedor {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.contenedor img {
    width: 100%;
}

.contenedor button {
    position: relative;
    top: -300px;
}